@use 'partials/mixins';

.app__slider{
    width: 300px;
    display: flex;
    align-items: center;
    position: relative;
    .slider__img{
        display: none;
    }
    .slider__img--visible{
        width: 100%;
        display: block;
    }
    .slider__btn{
        @include mixins.botones();
        &--left{
            left: -25px;
        }
        &--right{
            right: -25px;
        }
    }
    @media only screen and (max-width:426px){
        &{
            width: 100%;
            .slider__btn{
                &--left{
                    left: 0px;
                }
                &--right{
                    right: 0px;
                }
            }
        }
    }
}